







.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitle{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.right_bar{
  box-shadow: 2px 2px 2px 2px  rgb(122, 116, 116);
  
  align-items: center;
  padding: 20px;
  margin-right: 100px;
  margin-top:80px;
  border-radius: 20px;
}








.rightbarFollowButton{
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.rightbarFollowButton:focus{
  outline: none;
}




.rightname{
  margin-top: 0px;
}